
<div id="wrapper">
    <app-sidebar></app-sidebar>

    <div id="content-wrapper">
        <app-header></app-header>

      <!--!Index's Main contents start here-->
      <div class="index-content container-main">

        <!--!Dashboard header-->
        <div class="prof-header  d-flex justify-between">
          <h3>Cr</h3>
        </div>
        <div class="row-profile-container d-flex">
          <!--!Row 1-->
          <div class="row-prof2 ">
            <!--!User Settings-->
            <div class="user-setting margin-row-prof shadow-edit">
              <div class="user-setting-head project-head">
                <h6>Applicants details</h6>
              </div>
              <div class="user-setting-body project-body">
                <form>
                  <!--row1-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="username"><strong>Name</strong></label>
                      <input class="form-control-prof" type="text" id="username" placeholder="user.name"
                        name="username">
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="email"><strong>Surname</strong></label>
                      <input class="form-control-prof" type="email" id="email" placeholder="Surname"
                        name="emailAdress">
                    </div>
                  </div>
                  <!--row2-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="firstname"><strong>Phone Number</strong></label>
                      <input class="form-control-prof" type="text" id="firstname" placeholder="Phone Number" name="lastname">
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="lastname"><strong>Email Address</strong></label>
                      <input class="form-control-prof" type="text" id="lastname" placeholder="Email Address" name="lastname">
                    </div>
                  </div>



                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="firstname"><strong>Home Address</strong></label>
                      <input class="form-control-prof" type="text" id="firstname" placeholder="John" name="firstname">
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="lastname"><strong>Employer</strong></label>
                      <input class="form-control-prof" type="text" id="lastname" placeholder="Doe" name="lastname">
                    </div>
                  </div>
                  
                  <!--row3-->
                  
                </form>
              </div>

            </div>
            <!--!Contact Settings-->
      
          </div>

          <!--!Second column of Row 1-->
          <div class="row-prof2 ">
            <!--!User Settings-->
            <div class="user-setting margin-row-prof shadow-edit">
              <div class="user-setting-head project-head">
                <h6>Loan Details</h6>
              </div>
              <div class="user-setting-body project-body">
                <form>
                  <!--row1-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="username"><strong>Loan type</strong></label>
                      <input class="form-control-prof" type="text" id="username" placeholder="user.name"
                        name="username">
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="email"><strong>Number of months</strong></label>
                      <input class="form-control-prof" type="number" id="email" placeholder="24"
                        name="emailAdress">
                    </div>
                  </div>
                  <!--row2-->
                  <div class="form-row d-flex justify-between">
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="firstname"><strong>Amount required</strong></label>
                      <input class="form-control-prof" type="text" id="firstname" placeholder="John" name="firstname">
                    </div>
                    <div class="form-row-col d-flex flex-direction-column">
                      <label class="form-label" for="lastname"><strong>Email Address</strong></label>
                      <input class="form-control-prof" type="text" id="lastname" placeholder="Doe" name="lastname">
                    </div>
                  </div>
                  <!--row3-->
                
                </form>
              </div>

            </div>
            <!--!Contact Settings-->
            
            <div class="form-row">
                <div class="form-row-button">
                  <button class="button-profile" type="button">Apply loan</button>
                </div>
              </div>
          </div>
        </div>

      
     
	 <div class="footer">
        <footer>
            <span>Copyright © MashonisaLoanManagementSystem </span>
        </footer>
      </div>

    </div>



  </div>

  <a class="page-up-fixed" href="#page-top"><i class="fas fa-angle-up"></i></a>

  </div>
