   <!--!Navbar Top-->
   <div class="navbar-top d-flex" id="page-top">
    <div class="container-fluid d-flex">
      <button id="sidebarToggleTop" class="btn-link" type="button"><i class="fas fa-bars"></i></button>
      <form class="navbar-search d-flex">
        <div class="input-group ">
          <input class="nav-search" type="text" placeholder="Search for ...">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
    <ul class="navbar-nav-ul d-flex">
      <li class="nav-item">
        <a class="dropdown-toggle nav-link search-icon-nav" href="#"><i class="fas fa-search"></i></a>
      </li>
      <li class="nav-item notific-span">
        <a class="dropdown-toggle nav-link" href="#"><span>3+</span><i class="fas fa-bell fa-fw"></i></a>
      </li>
      <li class="nav-item notific-span">
        <a class="dropdown-toggle nav-link" href="#"><span class="badge bg-danger badge-counter">7</span><i
            class="fas fa-envelope fa-fw"></i></a>
      </li>
      <div class="topbar-divider"></div>
      <li class="nav-item avatar-n">
        <p><span class="avatar-text">Tsholofelo Makhoana</span></p>
        <div class="avatar-nav"></div>
      </li>
    </ul>
  </div>