<div id="bg-login" class="bg-login">

    <div class="login-form-container">
      <div class="img-login"></div>
      <div class="login-form">
        <div class="login-form2">
          <div class="text-center">
            <h4>Welcome Back!</h4>
          </div>
          <form class="user-login">
            <div><input class="form-control form-control-user" type="email" id="exampleInputEmail"
                placeholder="Enter Email Address..." name="email"></div>
            <div><input class="form-control form-control-user" type="password" id="exampleInputPassword"
                placeholder="Password" name="password"></div>
            <div>
              <div class="custom-control custom-checkbox small">
                <div class="form-check d-flex">
                  <input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1">
                  <label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label>
                </div>
              </div>
            </div>
            <button class="login-btn" type="submit">Login</button>
            <hr>
            <a href="#" class="login-google" role="button"><i class="fab fa-google"></i>&nbsp; Login with Google</a>
            <a href="#" class="login-fb" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Login with Facebook</a>
            <hr>
          </form>
          <div class="text-center"><a class="small" href="#">Forgot Password?</a></div>
          <div class="text-center"><a class="small" href="register.html">Create an Account!</a></div>
        </div>
      </div>
    </div>

  </div>